:root {
  --white: #f5f2ef;
  --black: #1c1c1c;
  --accent: #e66068;
  --grey: #787676;
  --easeIn: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --easeOut: cubic-bezier(0.19, 1, 0.22, 1);
  --easeInOut: cubic-bezier(0.5, 0, 0.5, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* transition: 0.7s var(--easeOut); */
}

body {
  scroll-behavior: smooth;
  background-color: var(--white);
}

.darkmode {
  background-color: var(--black);
  color: var(--white);
}

.lightmode {
  background-color: var(--white);
  color: var(--black);
}

.color-white {
  color: var(--white);
}

.lightmode #hamburger-inner,
.lightmode #hamburger-inner::before,
.lightmode #hamburger-inner::after {
  background-color: var(--black);
}

a {
  color: inherit;
}

.loading-screen {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background-color: var(--white);
  width: 100%;
  height: 100%;
  bottom: -100%;
}

.load-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  pointer-events: none;
}

html {
  font-size: calc(7px + 2.5 * (100vw - 500px) / 700);
  font-family: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 800;
  font-style: normal;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  font-family: linotype-didot, didot, serif;
  font-style: italic;
  word-wrap: break-word;
  hyphens: auto;
}

h1 {
  font-size: 12rem;
  line-height: 80%;
  letter-spacing: -0.5rem;
}

h1:nth-of-type(2) {
  left: 10rem;
}

h2 {
  font-size: 10rem;
  letter-spacing: -0.4rem;
  margin: 0rem 0rem 0rem;
  line-height: 100%;
  display: block;
  top: 0;
  /* color: var(--white); */
  white-space: nowrap;
}

h3 {
  font-size: 3rem;
  line-height: 100%;
  /* color: var(--white); */
  text-transform: uppercase;
  margin-bottom: 1rem;
  letter-spacing: 1rem;
  font-style: normal;
  font-weight: 800;
  font-family: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h5 {
  font-size: 3rem;
  line-height: 100%;
  /* text-transform: ; */
  margin-bottom: 1rem;
  letter-spacing: 1rem;
  font-style: normal;
  font-weight: 800;
  font-family: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h6 {
  font-size: 3rem;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 1rem;
  letter-spacing: 1rem;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 1rem;
  font-family: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

p {
  font-size: 2rem;
  font-weight: 300;
  line-height: 150%;
  color: var(--grey);
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
}

header {
  position: absolute;
  width: calc(100vw - (100vw - 100%));
  z-index: 3;
  /* position: sticky; */
  position: fixed;
  top: 0;
  /* opacity: 0; */
  background: unset !important;
}

/* header.index-page {
  opacity: 0;
} */

nav {
  height: 12rem;
  padding: 1rem 5rem;
  display: flex;
  /* color: var(--white); */
  transition: 0.35s all var(--easeOut);
}

nav.scroll {
  background-color: var(--white);
  height: 6rem;
  color: var(--black);
  transition: 0.7s all var(--easeOut);
}

nav.scroll ul a::after {
  background: var(--black);
}

nav>* {
  position: relative;
  display: block;
  align-self: center;
}

nav>*:nth-child(2) {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

nav>*:nth-child(3),
#hamburger {
  right: 5rem;
  position: absolute;
}

#hamburger {
  display: none;
}

/* nav links */
nav a,
h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: inherit;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

nav h4 {
  font-size: 3rem;
  font-weight: 400;
}

ul.menu>* {
  margin-left: 2rem;
}

/* nav hover */
nav ul a::after {
  cursor: pointer;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background: var(--white);
  content: "";
  opacity: 0;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  transform: translateY(-0.5rem);
}

nav ul a:hover::after,
nav ul a:focus::after {
  cursor: pointer;
  height: 0.2rem;
  opacity: 1;
  transform: translateY(0.5rem);
}

.showreel a {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main.hero {
  padding: 0 1rem;
  height: 100vh;
  background: url("../images/cover.jpg") 50% 35% no-repeat;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 10rem 0;
}

main.hero .intro span {
  /* color: var(--white); */
  overflow: hidden;
  height: auto;
  display: inline-block;
  width: min-content;
  padding: 3rem calc(5rem + 2.5 * (100vw - 90rem) / 20);
}

main.hero .intro span.olga {
  padding-left: 0;
}

main.hero .intro span.rossa {
  padding-right: 0;
}

main.hero .intro {
  width: max-content;
  position: relative;
  height: max-content;
}

main.hero .intro h1 {
  animation: slide-in 3s forwards var(--easeOut);
  position: relative;
  transform: translateY(-200%);
  display: block;
  white-space: nowrap;
}

span.blockreveal {
  overflow-y: hidden;
  height: max-content;
  display: inline-block;
  padding: 1rem 2rem;
  margin: 0rem 0rem 0rem -2rem;
}

.revealed {
  animation: slide-in 3s forwards var(--easeOut);
  position: relative;
  transform: translateY(-200%);
  display: block;
  white-space: nowrap;
}
/* 
.loaded {
  animation: fadeup 3s forwards var(--easeOut);
} */

@keyframes fadeup {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
    transform: translateY(140%);
  }

  100% {
    transform: translateY(0%);
  }
}

main.hero.portfolio,
main.hero.contact,
main.hero.gallery {
  background: unset;
}

span.img-reveal {
  overflow: hidden;
  display: inline-block;
}

/* AOS */
[data-aos="translate-up"] {
  transition-property: height, scale;
  height: 0%;
  scale: 1.1;
  transition-timing-function: var(--easeOut) !important;
}

[data-aos="translate-up"].aos-animate {
  transition-timing-function: var(--easeOut) !important;
  height: 100%;
  scale: 1;
}

[data-aos="reveal-up"] {
  transform: translateY(160%);
  transition-property: transform;
  transition-timing-function: var(--easeOut) !important;
}

[data-aos="reveal-up"].aos-animate {
  transition-timing-function: var(--easeOut) !important;
  transform: translateY(0%);
}

main.hero .intro .olga h1 {
  animation-delay: 0.5s;
}

main.hero .intro .rossa h1 {
  animation-delay: 1s;
}

/* portfolio */

@keyframes header-move-up {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-50%);
  }
}

main.hero.portfolio {
  flex-direction: column;
}

main.hero.portfolio .intro,
main.hero.portfolio .categories {
  margin: 4vmin;
}

.projects figure:nth-of-type(1) {
  grid-row: 1;
  grid-column: 1/8;
}

.projects .copy:nth-of-type(1) {
  grid-row: 1;
  grid-column: 7/12;
}

.projects figure:nth-of-type(2) {
  grid-row: 2;
  grid-column: 6/13;
}

.projects .copy:nth-of-type(2) {
  grid-row: 2;
  grid-column: 2/7;
}

.projects figure:nth-of-type(3) {
  grid-row: 3;
  grid-column: 1/8;
}

.projects .copy:nth-of-type(3) {
  grid-row: 3;
  grid-column: 7/12;
}

.projects figure:nth-of-type(4) {
  grid-row: 4;
  grid-column: 6/13;
}

.projects .copy:nth-of-type(4) {
  grid-row: 4;
  grid-column: 2/7;
}

.projects figure:nth-of-type(5) {
  grid-row: 5;
  grid-column: 1/8;
}

.projects .copy:nth-of-type(5) {
  grid-row: 5;
  grid-column: 7/12;
}


.projects .copy h6,
.projects .copy p {
  color: unset;
}

.projects .copy span.blockreveal {
  display: block;
}

.contact.grid {
  padding-top: 12rem;
}

.contact figure:nth-of-type(1) {
  grid-row: 1;
  grid-column: 1/6;
}

.contact .copy:nth-of-type(1) {
  grid-row: 1;
  grid-column: 6/11;
}

footer {
  width: calc(100vw - (100vw - 100%));
  align-items: center;
  justify-items: center;
  padding: 6rem 4rem 2rem 4rem;
  display: flex;
  justify-content: space-between;
  /* background-color: var(--black); */
}

footer p {
  display: inline-block;
}

footer p * {
  text-decoration: none;
  color: var(--grey);
}

footer i {
  font-size: 2.5rem;
  padding: 0 0 0 2rem;
}

footer i:hover {
  color: var(--accent);
  transition: 0.5s var(--easeInOut);
}

footer>p {
  font-size: 2rem;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-rows: minmax(12rem, auto);
  grid-template-columns: repeat(12, minmax(0, 12rem));
  gap: 4rem;
  align-items: center;
}

img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  z-index: 0;
}

figure {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

section {
  padding: 10rem 0 0;
  background-color: var(--black);
}

article.gallery {
  padding: 12rem 0;
}

.gallery-item-medium {
  grid-row: span 2;
  grid-column: span 2;
}

.home-images figure:nth-child(1) {
  grid-column: 1/6;
  grid-row: 1/3;
}

.home-images figure:nth-child(2) {
  grid-column: 8/13;
  grid-row: 2/5;
}

.home-about figure {
  grid-column: 1/5;
  grid-row: 1;
}

.home-about .copy {
  grid-column: 6/10;
  grid-row: 1;
}

section.showreel {
  cursor: pointer;
  height: 70rem;
  position: relative;
}

section.showreel div {
  position: relative;
  display: flex;
  width: max-content;
  flex-direction: column;
}

section.showreel div>* {
  align-content: center;
  justify-content: center;
}

section.showreel i {
  font-size: 8rem;
  display: inherit;
  color: var(--white);
}

section.showreel i:hover {
  color: var(--accent);
}

.player-btn {
  height: 10rem;
  width: unset;
  object-fit: fill;
}

section.showreel .showreel-bg {
  width: 100%;
  height: 100%;
  transition: 0.7s all var(--easeOut);
}

section.showreel .showreel-bg:hover,
.gallery-image>img:hover {
  transform: scale(1.00);
  transition: 0.7s all var(--easeOut);
}

.gallery-image>img {
  transform: scale(1.02);
  transition: 0.7s all var(--easeOut);
}

.get-in-touch figure {
  grid-column: 1/5;
  grid-row: 1;
}

.get-in-touch .details {
  grid-column: 6/12;
  grid-row: 1;
}

span.getin h2:nth-of-type(2) {
  margin: -3rem 0 0px 8rem;
  color: var(--accent);
}

.get-in-touch .details h3 {
  margin: 4rem 0rem 0rem 8rem;
  position: relative;
  color: inherit;
  display: inline-block;
  cursor: pointer;
}

.getin .blockreveal {
  display: block;
  padding: 0rem 2rem;
}

.getin .blockreveal:nth-of-type(2) {
  margin: -2rem 0rem 0rem 6rem;
}

.get-in-touch a,
.portfolio .categories a {
  color: inherit;
  transition: 0.5s all var(--easeOut);
  text-decoration: none;
}

.get-in-touch h3:hover,
.portfolio .categories h3:hover {
  color: var(--accent);
  transition: 0.5s all var(--easeOut);
}

.get-in-touch .details p {
  color: inherit;
  margin: 2rem 0rem 0rem 8rem;
}

.get-in-touch .details h3::after, .portfolio .categories h5::after {

  cursor: pointer;
  position: absolute;
  top: 100%;
  left: 0;
  width: calc(100% - 1rem);
  height: 0.3rem;
  background: var(--accent);
  content: "";
  transform: translateY(0.5rem);
  transition: 0.5s all var(--easeOut);
}

/* .get-in-touch .details a:after,
.portfolio .categories a:after {
  cursor: pointer;
  position: absolute;
  top: 100%;
  left: 0;
  width: 98%;
  height: 0.3rem;
  background: var(--accent);
  content: "";
  transform: translateY(0.5rem);
  transition: 0.5s all var(--easeOut);
} */

.get-in-touch .details h3:hover::after,
.portfolio .categories h5:hover::after {
  transition: 0.5s all var(--easeOut);
  top: 120%;
}

.details i {
  font-size: 3rem;
  padding: 2rem;

}

span.blockreveal.social-links {
  padding: 4rem 8rem 0rem 8rem;
}

@media only screen and (max-width: 599px) {

  /* !!!!!!!!!!!!!!!!!!!!!!!!!
body.prevent-scroll {
    overflow: hidden;
    height: 100vh;
    margin-left: calc(100vw - 100%);
} */


  .grid {
    display: grid;
    align-items: flex-end;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 0rem;
    padding: 0rem 0rem;
  }

  ul.menu>* {
    margin-left: unset;
  }

  .nav-open * {
    transition: all 1s var(--easeOut);
  }

  .menu a {
    /* color: var(--white); */
    font-size: 3rem;
    transition: opacity 1s var(--easeOut);
    overflow: hidden;
    margin: 5rem 30vw;
  }

  .menu a:nth-of-type(1) {
    margin-top: 30vh;
  }

  .lightmode .menu {
    background: var(--white);
  }


  .menu {
    position: fixed;
    display: block;
    text-align: center;
    top: 0;
    width: 100vw;
    z-index: -3;
    height: 100vh;
    background: var(--white);
    pointer-events: none;
    opacity: 0;
    transition: all 1s var(--easeOut);
  }

  .menu-open {
    opacity: 1;
    pointer-events: auto;
  }

  ul.menu a {
    transform: translateY(-100%);
    opacity: 0;
  }

  menu a.a-active {
    transition: opacity 1s var(--easeOut);
    margin-top: 15vh;
    opacity: 1 !important;
  }

  ul.menu a.a-active {
    animation: menu-items-appear forwards .5s;
  }

  ul.menu .a-active:nth-of-type(1) {
    animation-delay: 0.1s;
  }

  ul.menu .a-active:nth-of-type(2) {
    animation-delay: 0.2s;
  }

  ul.menu .a-active:nth-of-type(3) {
    animation-delay: 0.3s;
  }

  @keyframes menu-items-appear {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }

    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }


  nav> :nth-child(3),
  #hamburger {
    right: 0rem;
    position: absolute;
  }

  div.copy {
    padding: 10rem 4rem;
  }

  nav .active {
    display: block;
  }

  nav.scroll {
    height: 8rem;
  }

  p {
    font-size: 2.4rem;
    line-height: 150%;
  }

  nav.scroll #hamburger-inner,
  nav.scroll #hamburger-inner::after,
  nav.scroll #hamburger-inner::before {
    background-color: var(--black);
  }

  #hamburger {
    padding: 3rem;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    overflow: visible;
    background-color: transparent;
    border: 0;
    right: 2rem;
    display: block;
  }

  #hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
  }

  #hamburger-inner {
    display: block;
    top: 50%;
  }

  #hamburger-inner,
  #hamburger-inner::before,
  #hamburger-inner::after {
    width: 35px;
    height: 3px;
    background-color: var(--white);
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: var(--easeInOut);
    border-radius: 4px;
  }

  #hamburger-inner::before,
  #hamburger-inner::after {
    content: "";
    display: block;
  }

  #hamburger-inner::before {
    top: -10px;
  }

  #hamburger-inner::after {
    bottom: -10px;
  }

  /*
     * Spin Reverse
     */
  .hamburger--spin-r #hamburger-inner {
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  .hamburger--spin-r #hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
  }

  .hamburger--spin-r #hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in,
      transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  .hamburger--spin-r.is-active #hamburger-inner {
    transform: rotate(-225deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .hamburger--spin-r.is-active #hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
  }

  .hamburger--spin-r.is-active #hamburger-inner::after {
    bottom: 0;
    transform: rotate(90deg);
    transition: bottom 0.1s ease-out,
      transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .details {
    margin: 10rem 4rem;
  }
}

/* GALLERY CSS */


html:not(.touch) .gallery-image figcaption,
.touch .gallery-image figcaption,
.mfp-with-zoom .mfp-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: rgba(255, 255, 255, 0);
  padding: 1em;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-weight: 600;
  max-width: calc(100% - 9em);
  line-height: 1.25;
  text-align: center;
  box-sizing: border-box;
}

html:not(.touch) .gallery-image figcaption:before,
.touch .gallery-image figcaption:before,
.mfp-with-zoom .mfp-title:before,
html:not(.touch) .gallery-image figcaption:after,
.touch .gallery-image figcaption:after,
.mfp-with-zoom .mfp-title:after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  padding: 1em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  z-index: -1;
}

html:not(.touch) .gallery-image figcaption:before,
.touch .gallery-image figcaption:before,
.mfp-with-zoom .mfp-title:before,
html:not(.touch) .gallery-image figcaption:after,
.touch .gallery-image figcaption:after,
.mfp-with-zoom .mfp-title:after {
  right: 100%;
  bottom: 100%;
}

html:not(.touch) .gallery-image figcaption:after,
.touch .gallery-image figcaption:after,
.mfp-with-zoom .mfp-title:after {
  left: 100%;
  top: 100%;
}

html:not(.touch) .gallery-image figcaption.visible,
html:not(.touch) .gallery-image:hover figcaption,
.touch .gallery-image figcaption,
.mfp-with-zoom .visible.mfp-title,
.mfp-with-zoom.mfp-ready .mfp-title {
  color: white;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.2s ease 0.3s;
  transition: all 0.2s ease 0.3s;
}

/* html:not(.touch) .gallery-image figcaption.visible:before,
html:not(.touch) .gallery-image:hover figcaption:before,
.touch .gallery-image figcaption:before,
.mfp-with-zoom .visible.mfp-title:before,
.mfp-with-zoom.mfp-ready .mfp-title:before,
html:not(.touch) .gallery-image figcaption.visible:after,
html:not(.touch) .gallery-image:hover figcaption:after,
.touch .gallery-image figcaption:after,
.mfp-with-zoom .visible.mfp-title:after,
.mfp-with-zoom.mfp-ready .mfp-title:after {
    /* opacity: 1; */
}

html:not(.touch) .gallery-image figcaption.visible:before,
html:not(.touch) .gallery-image:hover figcaption:before,
.touch .gallery-image figcaption:before,
.mfp-with-zoom .visible.mfp-title:before,
.mfp-with-zoom.mfp-ready .mfp-title:before {
  right: -1.5em;
  bottom: -1.5em;
}

html:not(.touch) .gallery-image figcaption.visible:after,
html:not(.touch) .gallery-image:hover figcaption:after,
.touch .gallery-image figcaption:after,
.mfp-with-zoom .visible.mfp-title:after,
.mfp-with-zoom.mfp-ready .mfp-title:after {
  left: -1.5em;
  top: -1.5em;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

/* .gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 4rem;
  grid-auto-flow: dense;
  grid-auto-rows: 400px;
} */
/* 

insta
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25vmax, 1fr));
  grid-gap: 4rem;
  grid-auto-flow: dense;
  grid-auto-rows: 50vmin;
} */

/* portrety */
.gallery {

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20vmax, 1fr));
  grid-gap: 4rem;
  grid-auto-flow: dense;
  grid-auto-rows: 40vmin;

}

@media only screen and (max-width: 599px) {
  * {
    grid-column: unset !important;
    grid-row: unset !important;
  }
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(30vmin, 1fr)) !important;
        grid-auto-rows: auto !important;
    }
}

.gallery-image {
  /*! position: relative; */
  margin: 0;
  /*! padding: 0; */
  object-fit: cover;
  height: 100%;
}

.gallery-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

html:not(.touch) .gallery-image {
  overflow: hidden;
}

/* 
html:not(.touch) .gallery-image:hover:before {
  border-width: 16px;
}

html:not(.touch) .gallery-image:hover:after {
  border-width: 32px;
}

.touch .gallery-image figcaption {
  top: auto;
  bottom: 2em;
}
*/
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}


.mfp-with-zoom.mfp-bg {
  background-color: var(--black);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.96;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}


.mfp-with-zoom img.mfp-img {
  padding: 0;
}

/* 

.mfp-with-zoom .mfp-figure:after {
  top: 0;
  bottom: 0;
}

.mfp-with-zoom .mfp-container {
  padding: 0;
}

.mfp-with-zoom .mfp-content {
  overflow: hidden;
}

.mfp-with-zoom .mfp-bottom-bar {
  top: auto;
  bottom: 0;
  margin-top: 0;
}

.mfp-with-zoom .mfp-title {
  top: auto;
  bottom: 2em;
}

.mfp-arrow {
  opacity: 1;
  margin-top: 0 !important;
  width: 20%;
  height: 30%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.mfp-arrow:before,
.mfp-arrow:after {
  margin: 0;
  border: none;
  width: 2rem;
  height: 2rem;
  -webkit-transform: rotate(-45deg) translate(-50%, -100%);
  transform: rotate(-45deg) translate(-50%, -100%);
  opacity: 1;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.mfp-arrow:active {
  -webkit-transform: translateY(-50%) scale(0.95);
  transform: translateY(-50%) scale(0.95);
}

.mfp-arrow-left:before,
.mfp-arrow-left:after,
.mfp-arrow-right:before,
.mfp-arrow-right:after {
  border-top: 2px solid white;
  border-left: 2px solid white;
}

.mfp-arrow-left:after,
.mfp-arrow-right:after,
.mfp-arrow-right:hover:before,
.mfp-arrow-left:hover:before,
.mfp-arrow-left:active:before {
  margin-left: 2rem;
}

.mfp-arrow-left:hover:after,
.mfp-arrow-left:active:after,
.mfp-arrow-right:hover:after {
  margin-left: 0;
}

.mfp-arrow-right {
  right: 0;
}

.mfp-arrow-left {
  left: 0;
}

button.mfp-close {
  opacity: 1;
  margin-top: 0 !important;
  width: 20%;
  height: 30%;
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
}

button.mfp-close:before,
button.mfp-close:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  border: none;
  width: 2rem;
  height: 2rem;
  opacity: 1;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  border-top: 2px solid white;
  border-left: 2px solid white;
}

button.mfp-close:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

button.mfp-close:after {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

button.mfp-close:hover:before {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

button.mfp-close:hover:after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

button.mfp-close:active {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
} */