:root {
  --white: #f5f2ef;
  --black: #1c1c1c;
  --accent: #e66068;
  --grey: #787676;
  --easeIn: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --easeOut: cubic-bezier(0.19, 1, 0.22, 1);
  --easeInOut: cubic-bezier(0.5, 0, 0.5, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* transition: 0.7s var(--easeOut); */
}

body {
  background-color: var(--white);
}

.darkmode {
  background-color: var(--black);
}

.loading-screen {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background-color: var(--black);
  width: 100%;
  height: 100%;
}

.load-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  pointer-events: none;
}

html {
  font-size: calc(7px + 2.5 * (100vw - 500px) / 700);
  font-family: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 800;
  font-style: normal;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  font-family: linotype-didot, didot, serif;
  font-style: italic;
  word-wrap: break-word;
  hyphens: auto;
}

h1 {
  font-size: 12rem;
  line-height: 80%;
  letter-spacing: -0.5rem;
}

h1:nth-of-type(2) {
  left: 10rem;
}
h2 {
  font-size: 10rem;
  letter-spacing: -0.4rem;
  margin: 0rem 0rem 0rem;
  line-height: 100%;
  display: block;
  top: 0;
  color: var(--white);
  white-space: nowrap;
}

h3 {
  font-size: 3rem;
  line-height: 100%;
  color: var(--white);
  text-transform: uppercase;
  margin-bottom: 1rem;
  letter-spacing: 1rem;
  font-style: normal;
  font-weight: 800;
  font-family: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

p {
  font-size: 2rem;
  font-weight: 300;
  line-height: 150%;
  color: var(--grey);
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
}

header {
  position: absolute;
  width: calc(100vw - (100vw - 100%));
  z-index: 3;
  position: fixed;
  opacity: 0;
}

nav {
  height: 12rem;
  padding: 1rem 5rem;
  display: flex;
  color: var(--white);
  transition: 0.35s all var(--easeOut);
}

nav.scroll {
  background-color: var(--white);
  height: 6rem;
  color: var(--black);
  transition: 0.7s all var(--easeOut);
}

nav.scroll ul a::after {
  background: var(--black);
}
nav.scroll button span > * {
  background: red;
}

nav > * {
  position: relative;
  display: block;
  align-self: center;
}

nav > *:nth-child(2) {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
nav > *:nth-child(3),
#hamburger {
  right: 5rem;
  position: absolute;
}
#hamburger {
  display: none;
}

/* nav links */
nav a,
h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: inherit;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
nav h4 {
  font-size: 3rem;
  font-weight: 400;
}

ul.menu > * {
  margin-left: 2rem;
}

/* nav hover */
nav ul a::after {
  cursor: pointer;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background: var(--white);
  content: "";
  opacity: 0;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  transform: translateY(-0.5rem);
}

nav ul a:hover::after,
nav ul a:focus::after {
  cursor: pointer;
  height: 0.2rem;
  opacity: 1;
  transform: translateY(0.5rem);
}

a.popup-youtube {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main.hero {
  padding: 0 1rem;
  height: 100vh;
  background: url("../images/cover.jpg") 50% 35% no-repeat;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 10rem 0;
}

main.hero .intro span {
  color: var(--white);
  overflow: hidden;
  height: auto;
  display: inline-block;
  width: min-content;
  padding: 3rem calc(5rem + 2.5 * (100vw - 90rem) / 20);
}

main.hero .intro span.olga {
  padding-left: 0;
}
main.hero .intro span.rossa {
  padding-right: 0;
}

main.hero .intro {
  width: max-content;
  position: relative;
  height: max-content;
}

main.hero .intro h1 {
  animation: slide-in 3s forwards var(--easeOut);
  position: relative;
  transform: translateY(-200%);
  display: block;
  white-space: nowrap;
}

span.blockreveal {
  overflow-y: hidden;
  height: max-content;
  display: inline-block;
  padding: 1rem 2rem;
  margin: 0rem 0rem 0rem -2rem;
}
.revealed {
  animation: slide-in 3s forwards var(--easeOut);
  position: relative;
  transform: translateY(-200%);
  display: block;
  white-space: nowrap;
}

.loaded {
  animation: fadeup 3s forwards var(--easeOut) 1.5s;
}
@keyframes fadeup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
    transform: translateY(140%);
  }
  100% {
    transform: translateY(0%);
  }
}

span.img-reveal {
  overflow: hidden;
  /* height: max-content; */
  display: inline-block;
  /* padding: 1rem 2rem; */
  /* margin: 0rem 0rem 0rem -2rem; */
  /* animation: transY; */
}

/* AOS */
[data-aos="translate-up"] {
  transition-property: height, scale;
  height: 0%;
  scale: 1.1;
  transition-timing-function: var(--easeOut) !important;
}
[data-aos="translate-up"].aos-animate {
  transition-timing-function: var(--easeOut) !important;
  height: 100%;
  scale: 1;
}
[data-aos="reveal-up"] {
  transform: translateY(160%);
  transition-property: transform;
  transition-timing-function: var(--easeOut) !important;
}
[data-aos="reveal-up"].aos-animate {
  transition-timing-function: var(--easeOut) !important;
  transform: translateY(0%);
}

main.hero .intro .olga h1 {
  animation-delay: 0.5s;
}
main.hero .intro .rossa h1 {
  animation-delay: 1s;
}

footer {
  width: calc(100vw - (100vw - 100%));
  align-items: center;
  justify-items: center;
  padding: 10rem 5rem 5rem 5rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--black);
}
footer p {
  display: inline-block;
}

footer p * {
  text-decoration: none;
  color: var(--grey);
}

footer i {
  font-size: 2.5rem;
  padding: 0 0 0 2rem;
}
footer i:hover {
  color: var(--accent);
  transition: 0.5s var(--easeInOut);
}

footer > p {
  font-size: 2rem;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-rows: minmax(12rem, auto);
  grid-template-columns: repeat(12, minmax(0, 12rem));
  gap: 4rem;
  align-items: center;
}

img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  z-index: 0;
}

figure {
  overflow: hidden;
  height: 100%;
  width: 100%;
}
section {
  padding: 10rem 0;
  background-color: var(--black);
}

.home-images figure:nth-child(1) {
  grid-column: 1/6;
  grid-row: 1/3;
}
.home-images figure:nth-child(2) {
  grid-column: 8/13;
  grid-row: 2/5;
}

.home-about figure {
  grid-column: 1/5;
  grid-row: 1;
}

.home-about .copy {
  grid-column: 6/10;
  grid-row: 1;
}

section.showreel {
  cursor: pointer;
  height: 70rem;
  position: relative;
}

section.showreel div {
  position: relative;
  display: flex;
  width: max-content;
  flex-direction: column;
}

section.showreel div > * {
  align-content: center;
  justify-content: center;
}
section.showreel i {
  font-size: 8rem;
  display: inherit;
  color: var(--white);
}
section.showreel i:hover {
  color: var(--accent);
}

.player-btn {
  height: 10rem;
  width: unset;
  object-fit: fill;
}

.showreel h2 {
  /* display: unset; */
}

section.showreel .showreel-bg {
  width: 100%;
  height: 100%;
  transition: 0.7s all var(--easeOut);
}

section.showreel .showreel-bg:hover {
  transform: scale(1.02);
  transition: 0.7s all var(--easeOut);
}

.get-in-touch figure {
  grid-column: 1/5;
  grid-row: 1;
}

.get-in-touch .details {
  grid-column: 6/12;
  grid-row: 1;
}
span.getin h2:nth-of-type(2) {
  margin: -3rem 0 0px 8rem;
  color: var(--accent);
}
.get-in-touch .details h3 {
  margin: 4rem 0rem 0rem 8rem;
  position: relative;
  color: inherit;
  display: inline-block;
  cursor: pointer;
}
.getin .blockreveal {
  display: block;
  padding: 0rem 2rem;
}
.getin .blockreveal:nth-of-type(2) {
  margin: -2rem 0rem 0rem 6rem;
}

.get-in-touch a {
  color: var(--white);
  transition: 0.5s all var(--easeOut);
  text-decoration: none;
}
.get-in-touch a:hover {
  color: var(--accent);
  transition: 0.5s all var(--easeOut);
}

.get-in-touch .details p {
  margin: 2rem 0rem 0rem 8rem;
  color: var(--white);
}

.get-in-touch .details h3:after {
  cursor: pointer;
  position: absolute;
  top: 100%;
  left: 0;
  width: 98%;
  height: 0.3rem;
  background: var(--accent);
  content: "";
  transform: translateY(0.5rem);
  transition: 0.5s all var(--easeOut);
}

.get-in-touch .details h3:hover::after {
  transition: 0.5s all var(--easeOut);
  top: 120%;
}

@media only screen and (max-width: 599px) {
  * {
    grid-column: unset !important;
    grid-row: unset !important;
  }
  .grid {
    display: grid;
    align-items: flex-end;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 0rem;
    padding: 0rem 0rem;
  }

  div.copy {
    padding: 10rem 4rem;
  }

  nav > *:nth-child(3) {
    display: none;
  }

  nav .active {
    display: block;
  }
  nav.scroll {
    height: 8rem;
  }

  p {
    font-size: 2.4rem;
    line-height: 150%;
  }

  nav.scroll #hamburger-inner,
  nav.scroll #hamburger-inner::after,
  nav.scroll #hamburger-inner::before {
    background-color: var(--black);
  }

  #hamburger {
    padding: 3rem;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    overflow: visible;
    background-color: transparent;
    border: 0;
    right: 2rem;
    display: block;
  }

  #hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
  }

  #hamburger-inner {
    display: block;
    top: 50%;
  }
  #hamburger-inner,
  #hamburger-inner::before,
  #hamburger-inner::after {
    width: 35px;
    height: 3px;
    background-color: var(--white);
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: var(--easeInOut);
    border-radius: 4px;
  }
  #hamburger-inner::before,
  #hamburger-inner::after {
    content: "";
    display: block;
  }
  #hamburger-inner::before {
    top: -10px;
  }
  #hamburger-inner::after {
    bottom: -10px;
  }
  /*
     * Spin Reverse
     */
  .hamburger--spin-r #hamburger-inner {
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  .hamburger--spin-r #hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
  }
  .hamburger--spin-r #hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in,
      transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  .hamburger--spin-r.is-active #hamburger-inner {
    transform: rotate(-225deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .hamburger--spin-r.is-active #hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
  }
  .hamburger--spin-r.is-active #hamburger-inner::after {
    bottom: 0;
    transform: rotate(90deg);
    transition: bottom 0.1s ease-out,
      transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .details {
    margin: 10rem 4rem;
  }
}
